@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.panel {
  display: none;
}

.panel:target {
  display: block;
}

.tabs {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabs > li {
  display: inline-block;
}

.tabs a {
  display: block;
  background-color: white;
  color: grey;
  text-decoration: none;
  padding: .5em .5em;
  border-radius: 30px;
  border: solid grey;
  transition: all 500ms linear;
  position: relative;
}

.tabs a:hover {
  background-color: #000;
  color: grey;
}
